.App{
  background-image: linear-gradient(120deg, #0E0D0B 0%, #0E0C0B 100%);
  width: 100vw;
  color: white;
  height: 100vh;
}
.App-header{
  background-color: #282c34;
  display: flex;
  justify-content: space-around;
}


.opcoes {
  list-style: none;
  display: flex;
  padding: 0;

}

.opcoes li {
  margin-right: 15px; /* Isso agora deve funcionar */

  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
}
 

